<app-header></app-header>
<header>

    <div id="titre">
        <h1>Création salarié</h1>
    </div>

    <main>
        <div class="backgroundOpacity container">
     
    
    <div id="form">
        <form [formGroup]="ajoutPersoForm" id="modifForm" (ngSubmit)="onSubmit()" >
        <label for="nom">nom</label>
        <input type="text" formControlName="nom" placeholder="" required/>
        <label for="prenom">prénom</label>
        <input type="text" formControlName="prenom" required/>
        <label for="username">nom d'utilisateur</label>
        <input type="text" formControlName="username" required/>
        <label for="mail">mail</label>
        <input type="text" formControlName="mail" required/>
        <label for="mdp">mot de passe</label>
        <input type="text" formControlName="mdp" required/>
        <label for="role">rôle</label>
        <select name="role" id="role">
            <option value="">Veuillez choisir un rôle :</option>
            <option value="infirmier">Infirmier</option>
            <option value="admin">Administrateur</option>
            <option value="secretaire">Secrétaire</option>
        </select>
        <button id="b_connexion" >Valider</button>
      </form>
    </div>
    </div>
    </main>
</header>


