<app-header></app-header>
<header>

    <div id="titre">
        <h1>Création salarié</h1>
    </div>

    <main>
        <div class="backgroundOpacity container">
     
    
    <div id="form">
        <form [formGroup]="ajoutPersoForm" id="modifForm" (ngSubmit)="onSubmit()" >
        <label for="nom">nom</label>
        <input type="text" formControlName="nom" placeholder="" />
        <label for="prenom">prénom</label>
        <input type="text" formControlName="prenom" />
        <label for="mail">mail</label>
        <input type="text" formControlName="mail" />
        <label for="mdp">mot de passe</label>
        <input type="password" formControlName="mdp" />
        <label for="role">rôle</label>
        <select name="role" formControlName="roles" id="role">
            <option value="">Veuillez choisir un rôle :</option>
            <option value="ROLE_INFIRMIER">Infirmier</option>
            <option value="ROLE_ADMIN">Administrateur</option>
            <option value="ROLE_SECRETAIRE">Secrétaire</option>
        </select>
        <button id="b_connexion" >Valider</button>
        <div id="erreur" *ngIf="validErrors">{{Errors}}</div>
        </form>
    </div>
    </div>
    </main>
</header>


