h2 {
    text-align: center;
}

#logo {
    width: 125px;
    height:125px;
    margin-right:20px;
}



.welcomeMessage {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.welcomeMessage button {
    font-size: 20px;
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
}