<app-header></app-header>

<main>
    <div class="backgroundOpacity container">


    <div class="cardAccueil">
        <h2>GESTION DES LITS</h2>
        <img src="../../assets/images/lit.png" alt="illustration d'un lit">
    </div>




<a routerLink="/gestion_patient">
<div class="cardAccueil">
    <h2>FICHE PATIENT</h2>
    <img src="../../assets/images/patient.png" alt="illustration patient">
</div>
</a>

<div class="cardAccueil">
    <h2>CONSULTATION DES ENTREES ET DES SORTIES</h2>
    <img src="../../assets/images/entrees_sorties.png" alt="logo entrees_sorties">
</div>

</div>
</main>

