<header>
    <div class="welcomeMessage">
        <img id="logo" src="../../assets/images/croix.png" alt="logo croix rouge">
        <h1>Bonjour Nicolas Majorczyk</h1>
    </div>
   
</header>

<main>
    <div class="backgroundOpacity container">


<div class="cardAccueil">
    <h2>GESTION DES LITS</h2>
    <img src="../../assets/images/lit.png">
</div>

<div class="cardAccueil">
    <h2>FICHE PATIENT</h2>
    <img src="../../assets/images/patient.png">

</div>

<div class="cardAccueil">
    <h2>CONSULTATION DES ENTREES ET DES SORTIES</h2>
    <img src="../../assets/images/entrees_sorties.png">
</div>

</div>
</main>

