<app-header></app-header>
<div id="titre">
    <h1>Gestion des patients</h1>
</div>


<main>
    <div class="backgroundOpacity container">
        <div id="ajoutButton">
            <a routerLink="/ajout_patient"><button>Ajouter un nouveau patient</button></a>
        </div>


    <div id="search">
        <p>Rechercher un patient :</p>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Veuillez entrer le nom, prénom ou email de la personne à rechercher">
    </div>



    <div id="liste">
        <table>
            <thead>
            <th>nom</th>
            <th>prénom</th>
            <th>date d'arrivée</th>
            <th>date de fin de séjour</th>
            </thead>
    <tbody>
    <tr class="liste" *ngFor="let patient of listePatient | filter:searchText"> 
        <td>{{ patient.nom}}</td>
        <td>{{ patient.prenom }}</td>
        <td>     
      
            {{ patient.date_entree | date :'dd-MM-yyyy'}}</td>
        <td> {{ patient.date_sortie | date :'dd-MM-yyyy'}}</td>
        <td><a (click)="fiche(patient)"><button id="fiche">fiche</button></a></td>
        <td><a (click)="modif(patient)"><button id="fiche">Modifier fiche</button></a></td>
       <td><a routerLink="/suivi_patient/{{patient.id}}"><button id="suivi">Suivi</button></a></td>
     </tr>
    </tbody>   
</table>
</div>
</div>
</main> 
  
