<app-header></app-header>
<div id="titre">
    <h1>Gestion des patients</h1>
</div>


<main>
    <div class="backgroundOpacity container">

    <div id="recherche">
        <form action="">
            <label>Rechercher par:</label>
            <select name="type" id="type">
                <option></option>
                <option>Nom</option>
                <option>Prénom</option>
                <option>Mail</option>
            </select>
            <input type="text">
            <button>recherche</button>
        </form>
    </div>
    <div id="liste">
        <table>
            <tr>
            <th>nom</th>
            <th>prénom</th>
            <th>n° lit</th>
            <th>n° chambre</th>
            <th>date d'arrivée</th>
            <th>date de fin de séjour</th>
            </tr>
            <tr>
     <tr class="liste" *ngFor="let patient of listePatient"> 
        <td>{{ patient.nom}}</td>
        <td>{{ patient.prenom }}</td>
        <td>{{ patient.lit }}</td>
        <td>{{ patient.chambre }}</td>
        <td>{{ patient.arrivee }}</td>
        <td>{{ patient.depart }}</td>
        <td>{{ patient.id }}</td>
        <td><a routerLink="/fiche_patient/{{patient.id}}"><button id="fiche">fiche</button></a></td>
       <td><a routerLink="/suivi_patient/{{patient.id}}"><button id="suivi">Suivi</button></a></td>
     </tr>
</table>
</div>
</div>
</main> 
  
