<header>
    <div class="welcomeMessage">
        <img id="logo" src="../../assets/images/croix.png" alt="logo croix rouge">
        <h1>Bonjour Nicolas Majorczyk</h1>
    </div>
   
</header>

<main>
    <div class="backgroundOpacity container">


<div class="cardAccueil">
    <h2>DISPONIBILITE DES LITS</h2>
    <img src="../../assets/images/lit.png">
</div>

<div class="cardAccueil">
    <h2>FICHE ET SUIVI PATIENT</h2>
    <img src="../../assets/images/suiviPatient.png">

</div>

</div>
</main>
