<header>
    <div class="welcomeMessage">
        <img id="logo" src="../../assets/images/croix.png" alt="logo croix rouge">
        <h1>Bonjour Nicolas Majorczyk</h1>
    </div>
</header>

<div id="titre">
    <h1>Gestion du personnel</h1>
</div>


<main>
    <div class="backgroundOpacity container">
    <div id="ajoutButton">
        <button>Ajouter un nouveau salarié</button>
    </div>

    <div id="recherche">
        <form action="">
            <label>Rechercher par:</label>
            <select name="type" id="type">
                <option></option>
                <option>Nom</option>
                <option>Prénom</option>
                <option>Mail</option>
            </select>
            <input type="text">
            <button>recherche</button>
        </form>
    </div>


    <div id="liste">
        <table>
            <tr>
            <th>nom</th>
            <th>prénom</th>
            <th>mail</th>
            <th>mot de passe</th>
            </tr>
            <td>Major</td>
            <td>Nic</td>
            <td>nicolasmajorczyk@gmail.com</td>
            <td>izejfioefzjzi</td>
            <td><button>Modifier</button></td>
            <td><button>Supprimer</button></td>
        </table>
    </div>
</div>
</main>

