main {
    background-image: url(../../assets/images/staffBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height: 100vh;
}

.backgroundOpacity {
    background-color:rgba(255,255,255, 0.8);    
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.cardAccueil {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 60vh;
    border-radius: 20px;  
    margin-top: 5vh;
}

.cardAccueil h1 {
    text-align: center;
}

.cardAccueil img {
    width: 200px;
}

.cardAccueil:hover {
    border: 2px solid black;
    cursor: pointer;
}