<app-header></app-header>
<main>
    <div class="backgroundOpacity container">
    <a routerLink="/gestion_personnel">
        <div class="cardAccueil">
    <h2>GESTION DU PERSONNEL</h2>
  <img src="../../assets/images/personnel.png" alt="image_exemple_personnel">
</div></a>

<a routerLink="/gestion_lits">
<div class="cardAccueil">
    <h2>DISPONIBILITE DES LITS</h2>
    <img src="../../assets/images/lit.png" alt="dessin d'un lit">
</div></a>


<a routerLink="/gestion_patient">
<div class="cardAccueil">
    <h2>FICHE PATIENT</h2>
    <img src="../../assets/images/patient.png" alt="icone d'un patient ">

</div></a>

</div>
</main>
