<app-header></app-header>

<main>

  



    <div class="backgroundOpacity container">
        <div id="suiviPatient" [ngClass]="{'hidden':hidden}">
            <h2>Suivi Patient</h2>
            <p>Commentaires récents</p>
            <p>Piqûre ce matin</p>
            <p>Toilette du patient à 8h45</p>
            <p>Piqûre à 14h</p>
        </div>
        

        <div  id="plusSuivi">
            <p>Suivi</p>
            <img src="../../assets/images/plus.png" (click)="Suivivisible()" *ngIf="Visibility"> 
            <img src="../../assets/images/minus.png" (click)="Suivivisible()" *ngIf="!Visibility">
        </div>
       
        <div id="infosPrincipales">
            <h1>Nom du patient</h1>
            <div id="form">
            <div id="form1">
            <label>N° sécurité sociale</label>
            <input type="text" value="1029911092">
            <label>Adresse</label>
            <input type="text" value="15rue des Lilas">
            <label>n°téléphone</label>
            <input type="text" value="0677777777">
            </div>
            <div id="form2">
            <label>Raison du séjour</label>
            <input type="text" value="ligaments croisés du genou gauche">
            <label>date d'arrivée</label>
            <input type="text" value="10/04/2023">
            <label>date de départ</label>
            <input type="text" value="14/04/2023">
        </div>
            </div>
    </div>
        <div id="plusContact" >
            <p>Contact Urgence</p>
            <img  src="../../assets/images/plus.png" (click)="Contactvisible()"  *ngIf="visiblity">
            <img src="../../assets/images/minus.png" (click)="Contactvisible()" *ngIf="!visiblity">
            
        </div>

        <div id="contactsUrgence" [ngClass]="{'Hidden':Hidden}">
            <h2>Contact urgence</h2>
            <label>Nom</label>
            <input type="text" value="Dubois">
            <label>Prénom</label>
            <input type="text" value="Laura">
            <label>Téléphone</label>
            <input type="text" value="0677777777">
            <label>Adresse</label>
            <input type="text" value="54 rue des tulipes 59000 Lille">

        </div>
</div>

</main>
