<app-header></app-header>

<main>

    <div class="backgroundOpacity container">
        <div id="suiviPatient" [ngClass]="{'hidden':hidden}">
            <h2>Suivi Patient</h2>
            <h3>Commentaires récents :</h3> 
            <div *ngFor="let suivi of commentsListById.slice(commentsListById.length -3)">
                <p class="comment">{{suivi.comment}}</p>
            </div>
        <a id="suiviButton" routerLink="/suivi_patient/{{patient.id}}" >Consulter le suivi</a>
        <button (click)="openModal()"> Ajouter un commentaire </button>
    </div>


        <div  id="plusSuivi">
            <p>Suivi</p>
            <img src="../../assets/images/plus.png" (click)="Suivivisible()" *ngIf="Visibility"> 
            <img src="../../assets/images/minus.png" (click)="Suivivisible()" *ngIf="!Visibility">
        </div>
       
        <div id="infosPrincipales">
            <h1>
                {{patient.prenom}} {{patient.nom}}
            </h1>
            <br>
            <div id="form">
            <div id="form1">
            <h3>N° sécurité sociale :</h3>
            <p>{{patient.secu}}</p>
            <h3>Adresse :</h3>
            <p>{{patient.adresse}}</p>
            <h3>n°téléphone</h3>
            <p>{{patient.tel}}</p>
            </div>
            <div id="form2">
            <h3>Raison du séjour :</h3>
            <p>{{patient.raison_sejour}}</p>
            <h3>date d'arrivée :</h3>
            <p>{{patient.date_entree}}</p>
            <h3>date de départ :</h3>
            <p>{{patient.date_sortie}}</p>
        </div>
            </div>
    </div>
        <div id="plusContact" >
            <p>Contact Urgence</p>
            <img  src="../../assets/images/plus.png" (click)="Contactvisible()"  *ngIf="visiblity" alt="icône plus">
            <img src="../../assets/images/minus.png" (click)="Contactvisible()" *ngIf="!visiblity" alt="icône moins">
            
        </div>

        <div id="contactsUrgence" [ngClass]="{'Hidden':Hidden}">
            <h2>Contact d'urgence</h2>
            <h3>Nom :</h3>
            <p>{{patient.nom_urgent}}</p>
            <h3>Prénom :</h3>
            <p>{{patient.prenom_urgent}}</p>
            <h3>Téléphone :</h3>
            <p>{{patient.tel_urgent}}</p>
        </div>
</div>


</main>

