<app-header></app-header>
<div class="headerTitle">
    <h2>Suivi de John Doe </h2>
</div>
<main>
    <div class="backgroundOpacity container">
        <div id="suiviPatientList">
            <div class="container">
                <table>
                    <tr>
                     
                        <!-- <th>Date de sortie</th> -->
                        <th>Commentaires</th>
                        <th>Infirmier</th>
                    </tr>
                     <tr *ngFor="let suivi of commentsListById">
                        <td>{{suivi.com}}</td>
                        <td>{{suivi.user.name}}</td>
                    <tr>
                        
                    </tr>
                </table>


            </div>
        </div>
    </div>
</main>
