<app-header></app-header>
<div class="headerTitle">
    <h2>Suivi de John Doe </h2>
</div>
<main>
    <div class="backgroundOpacity container">
        <div id="suiviPatientList">
            <div class="container">
                <table>
                    <tr>
                        <th class="firstTh">Date d'arrivée</th>
                        <th>Date de sortie</th>
                        <th>Commentaires</th>
                        <th>Infirmier</th>
                    </tr>
                    <tr class="spaceTable">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
    
                    <tr *ngFor="let suivi of commentsListById">
                        <td class="firstTd">{{suivi}}</td>
                        <td>25/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    <tr>
                        <td class="firstTd">14/02/2023</td>
                        <td>15/03/2023</td>
                        <td>Autem cumque amet nesciunt aspernatur ex dolor saepe modi ut nihil ipsam asperiores sapiente provident aliquid exercitationem quasi blanditiis rerum maxime officiis maiores, error, repudiandae fugiat enim dolores libero! Mollitia.</td>
                        <td>Mathilde Carnet</td>
                    </tr>
                    
                </table>


            </div>
        </div>
    </div>
</main>
