

h2 {
    text-align: center;
}

#logo {
    width: 100px;
    height:100px;
    margin-right:20px;
}



.welcomeMessage {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titre {
    background-color: antiquewhite  ;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#recherche {
    border: 1px solid black;
    height: fit-content;
    width: 50vw;
    display: flex;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#recherche form {
    padding: 10px;
}

#recherche label,select,input {
        margin-right: 15px;
}

main {
    background-image: url(../../assets/images/staffBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height: 100vh;
  
} 

.backgroundOpacity {
    background-color:rgba(255,255,255, 0.8);    
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ajoutButton button {
    background-color: blueviolet;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 30px;
}

#ajoutButton {
    height: fit-content;
}