<app-header></app-header>
<div id="titre">
  <h1>Gestion du personnel</h1>
</div>

<main>
  <div class="backgroundOpacity container">
    <div id="ajoutButton">
      <a routerLink="/ajout_personnel"
        ><button>Ajouter un nouveau salarié</button></a
      >
    </div>

    <div id="search">
      <p>Rechercher un salarié :</p>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Veuillez entrer le nom, prénom ou email de la personne à rechercher">
  </div>

    <div id="liste">
      <table>
        <tr>
          <th>nom</th>
          <th>prénom</th>
          <th>mail</th>
          <th>métier</th>
        </tr>
        <tr></tr>
        <tr class="liste" *ngFor="let person of users | filter:searchText">
          <td>{{ person.lastName }}</td>
          <td>{{ person.firstName }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.roles[0] }}</td>
          <td>
            <a (click)="modifier(person)"
              ><button id="modifier">Modifier</button></a>
          </td>
          <td>
            <a (click)="supprimer(person)">
          <button  id="supprimer">Supprimer</button></a></td>
        </tr>
      </table>
    </div>
  </div>
</main>
