<app-header></app-header>

<div id="titre">
    <h1>Modifier patient  {{selectedPatient$.prenom}} {{selectedPatient$.nom}}</h1>
</div>



<main>

    <div class="backgroundOpacity container">
        <div id="newPatientForm">
            <form [formGroup]="modifPatientForm" (ngSubmit)="onSubmit()">
                <div class="containerForm">
                    <div class="container">
                        <div class="section">
                            <h2>Informations personnelles</h2>
                            <div class="form">
                                <div>
                                    <label for="nom">Nom :</label>
                                    <input type="text" formControlName="nom" id="nom" placeholder="{{selectedPatient$.nom}}">
                                </div>
                                <div>
                                    <label for="prenom">Prénom :</label>
                                    <input type="text" formControlName="prenom" name="prenom" id="prenom" placeholder="{{selectedPatient$.prenom}}">
                                </div>
                                <div>
                                    <label for="secu">N° sécurité sociale :</label>
                                    <input type="text" formControlName="secu" name="secu" id="secu" placeholder="{{selectedPatient$.secu}}">
                                </div>
                                <div>
                                    <label for="tel">Téléphone :</label>
                                    <input type="text" formControlName="tel" name="tel" id="tel" placeholder="{{selectedPatient$.tel}}">
                                </div>
                                <div>
                                    <label for="email">Email :</label>
                                    <input type="text" formControlName="mail" name="mail" id="email" placeholder="{{selectedPatient$.mail}}">
                                </div>
                                <div >
                                    <label for="adresse">Adresse :</label>
                                    <input type="text" formControlName="adresse" name="adresse" id="adresse" placeholder="{{selectedPatient$.adresse}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="verticalLine">
                    </div>                
                    <div class="container rightSide">
                        <div class="section">
                            <h2>Séjour à l'hôpital</h2>
                            <div class="form">
                                <div>
                                    <label for="raison">Raison du séjour :</label>
                                    <input type="text" formControlName="raison_sejour" name="raison" id="raison" placeholder="{{selectedPatient$.raison_sejour}}">
                                </div>
                                <div>
                                    <label for="date_entree">Date d'arrivée :</label>
                                    <input type="date" formControlName="date_entree" name="date_entree" id="date_entree" placeholder="{{selectedPatient$.date_entree}}">
                                </div>
                                <div>
                                    <label for="date_sortie">Date de départ :</label>
                                    <input type="date" formControlName="date_sortie" name="date_sortie" id="date_sortie" placeholder="{{selectedPatient$.date_sortie}}">
                                </div>
                            </div>
                        </div>
                        <div class="horizontalLine"></div>
                        <div class="section">
                            <h2>Contact d'urgence</h2>
                            <div class="form">
                                <div>
                                    <label for="nom_urgence">Nom :</label>
                                    <input type="text" formControlName="nom_urgent" name="nom_urgence" id="nom_urgence" placeholder="{{selectedPatient$.nom_urgent}}">
                                </div>
                                <div>
                                    <label for="prenom_urgence">Prénom :</label>
                                    <input type="text" formControlName="prenom_urgent" name="prenom_urgence" id="prenom_urgence" placeholder="{{selectedPatient$.prenom_urgent}}">
                                </div>
                                <div>
                                    <label for="tel_urgence">Téléphone :</label>
                                    <input type="text" formControlName="tel_urgent" name="tel_urgence" id="tel_urgence" placeholder="{{selectedPatient$.tel_urgent}}">
                                </div>
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="container">
                    <button type="submit">Valider</button>
                </div>
            </form>
        </div>
    </div>




    <!-- <div class="backgroundOpacity container"> -->
        <!-- <div id="suiviPatient" [ngClass]="{'hidden':hidden}">
            <h2>Suivi Patient</h2>
            <h3>Commentaires récents :</h3>
        <a id="suiviButton" routerLink="/suivi_patient/">Consulter le suivi</a>
        <a id="suiviButton">commentaire</a>
        </div>
        

        <div  id="plusSuivi">
            <p>Suivi</p>
            <img src="../../assets/images/plus.png" (click)="Suivivisible()" *ngIf="Visibility"> 
            <img src="../../assets/images/minus.png" (click)="Suivivisible()" *ngIf="!Visibility">
        </div>
       
        <div id="infosPrincipales">
            <h1>
                {{selectedPatient$.prenom}} {{selectedPatient$.nom}}
            </h1>
            <br>
            <div id="form">
            <div id="form1">
            <h3>N° sécurité sociale :</h3>
            <p>{{selectedPatient$.secu}}</p>
            <h3>Adresse :</h3>
            <p>{{selectedPatient$.adresse}}</p>
            <h3>n°téléphone</h3>
            <p>{{selectedPatient$.tel}}</p>
            </div>
            <div id="form2">
            <h3>Raison du séjour :</h3>
            <p>{{selectedPatient$.raison_sejour}}</p>
            <h3>date d'arrivée :</h3>
            <p>{{selectedPatient$.date_entree}}</p>
            <h3>date de départ :</h3>
            <p>{{selectedPatient$.date_sortie}}</p>
        </div>
            </div>
    </div>
        <div id="plusContact" >
            <p>Contact Urgence</p>
            <img  src="../../assets/images/plus.png" (click)="Contactvisible()"  *ngIf="visiblity">
            <img src="../../assets/images/minus.png" (click)="Contactvisible()" *ngIf="!visiblity">
            
        </div>

        <div id="contactsUrgence" [ngClass]="{'Hidden':Hidden}">
            <h2>Contact d'urgence</h2>
            <h3>Nom :</h3>
            <p>{{selectedPatient$.nom_urgent}}</p>
            <h3>Prénom :</h3>
            <p>{{selectedPatient$.prenom_urgent}}</p>
            <h3>Téléphone :</h3>
            <p>{{selectedPatient$.tel_urgent}}</p>
        </div>
</div> -->

</main>

